<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <div id="container">
      <img src="../../assets/img/gbr1.png" alt="kosong" />
      <h1><strong>Muhammad Nur Zaini</strong></h1>
      <h4>Sosial Media</h4>
      <ul>
        <li><a href="https://instagram.com/nrzayniiii_fdf4.alt.x?igshid=NGVhN2U2NjQ0Yg==">@Instagram</a></li>
        <li><a href="https://twitter.com/mhmmd_nurzaini?s=09">@Twitter</a></li>
      </ul>
      <p>Email : muhammad.nur.zaini@mhs.politala.ac.id</p>
      <p>Mahasiswa Politeknik Negeri Tanah Laut<br />Angkatan 2022</p>
    </div>
  </ion-content>
</ion-content>